footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--footerblack);
    padding: 100px 0 60px 0;
    gap: 60px;

    .top {
        margin: auto;
        display: flex;
        justify-content: space-between;

        .left {
            width: 60%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .about, .support, .FAQ {
                h5 {
                    margin-bottom: 20px;
                    font-family: var(--montserrat);
                    font-weight: 700;
                    color: var(--textwhite);
                }

                .items {
                    display: flex;
                    flex-direction: column;
                    gap: 25px;

                    a {
                        font-family: var(--poppins);
                        font-weight: 300;
                        color: var(--grey);
                        text-decoration: none;
                    }
                }
                
            }
        }

        .right {
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .newsletter {
                display: flex;
                flex-direction: column;
                gap: 15px;

                .header {
                    .description {
                        font-family: var(--poppins);
                        font-weight: 300;
                        color: var(--grey);
                        line-height: 25px;
                    }

                    h4 {
                        font-family: var(--montserrat);
                        font-weight: 700;
                        color: var(--textwhite);
                        margin-bottom: 20px;
                    }
                }

                

                .getEmail {
                    display: flex;
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    align-items: center;
                    border-radius: 30px;

                    input {
                        height: 100%;
                        width: 100%;
                        border: none;
                        background-color: transparent;
                        font-family: var(--poppins);
                        font-weight: 300;
                        color: var(--grey);
                        display: flex;
                    }

                    input:focus {
                        outline: none;
                    }

                    .btn-small {
                        margin: 5px;
                    }
                }
            }

            .socialIcons {
                display: flex;
                gap: 10px;
                justify-content: end;
            }
        }
    }

    .bottom {
        margin: auto;
        font-family: var(--poppins);
        font-weight: 500;
        color: var(--textwhite);
        display: flex;
        justify-content: center;
    }
}