#bestLocation {
    height: 100vh;
    margin: 250px auto 200px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .header {
        display: flex;
        justify-content: space-between;

        .left {
            display: flex;
            gap: 10px;
            flex-direction: column;
        }

        .right {
            width: 35%;
            display: flex;
            align-items: flex-end;
        }
    }
}