#landing {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .imageWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    border-radius: 15px;

    img {
      height: 98vh;
      width: 98vw;
      border-radius: 15px;
      z-index: -1;
    }
  }

  .aboveImage {
    height: 98vh;
    width: 98vw;
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .heading {
      font-family: var(--montserrat);
      font-weight: 600;
      font-size: 75px;
      width: 54%;
      color: var(--textwhite);
      text-transform: capitalize;
      text-align: center;
      filter: drop-shadow(0 -10px 15px black);
      padding: 0 0 15px 0;
    }

    .subheading {
      font-family: var(--poppins);
      font-weight: 300;
      color: var(--textwhite);
      text-transform: capitalize;
      font-size: 20px;
      filter: drop-shadow(0 0 1px black);
    }
  }

  .excellenceCards {
    position: relative;
    top: 27%;
    display: flex;
    gap: 30px;

    .item {
      background-color: var(--textwhite);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
      padding: 20px 50px;
      border-radius: 15px;
      filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 40%));
    }

    .number {
      font-family: var(--montserrat);
      font-size: 35px;
      font-weight: 500;
    }

    .description {
      font-family: var(--montserrat);
      font-size: 20px;
      font-weight: 400;
      letter-spacing: -1px;
      color: var(--grey);
    }
  }
}

@media screen and (max-width: 1400px) {
  #landing .excellenceCards {
    top: 19%;
  }
}

@media screen and (max-width: 1080px) {
  #landing .excellenceCards {
    .item {
      padding: 20px 25px;
    }
  }
}

@media screen and (max-width: 1000px) {
  #landing .excellenceCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 95%;
    top: 35%;

    .item {
      padding: 20px 25px;
    }
  }
}

@media screen and (max-width: 700px) {
  #landing {
    .imageWrap img {
      height: 98vh;
      width: 95vw;
    }
    .aboveImage {
      top: 20vh;

      .heading {
        width: 90%;
        font-size: 35px;
      }
    }

    .tourSearch {
      padding: 20px 20px;
      flex-direction: column;
      width: 70%;

      .date,
      .budget {
        border: none;
      }

      .item {
        padding: 20px 0;
        border-bottom: 1px solid white;
        gap: 30px;
        align-items: center;
      }

      .guests {
        border: none;
      }

      .btn-big {
        align-items: center;
      }
    }
  }
}

@media screen and (max-width: 600px) {
    #landing {
        .aboveImage {
            width: 85vw;

            .subheading {
                text-align: center;
            }
        }

        .excellenceCards {
            width: 100%;
            top: 33%;
            gap: 15px;

            .item {
                .description {
                    text-align: center;
                }
            }
        }
    }
}
