nav {
  position: fixed;
  top: 25px;
  left: 0;
  width: 100vw;
  z-index: 10;
}

.backgroundNav {
  .logo {
    color: var(--black) !important;
    transition: 0.5s;
  }

  .links {
    border: 1px solid var(--black) !important;
    transition: 0.5s;

    a {
      color: var(--black) !important;
      transition: 0.5s;
    }

    
  }

  .backgroundNav.colorChange {
    color: black;
    transition: 0.5s;
  }

  .switch {
    .MuiSwitch-track {
      opacity: 1;
      border: 1px solid black !important;
      border-radius: 15px;
      background-color: transparent;
      color: black !important;

      &::before {
        color: black !important;
      }
    }

    .MuiSwitch-thumb {
      background-color: black;

      &::before {
        color: white;
      }
    }
  }
}

#navbar {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
  animation: upToDown 1s 2s both;

  .logo {
    font-family: "Plus Jakarta Sans", serif;
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--textwhite);
  }

  .links {
    display: flex;
    gap: 30px;
    padding: 10px 45px;
    backdrop-filter: blur(25px);
    border-radius: 30px;
    border: 1px solid var(--textwhite);

    a {
      color: var(--textwhite);
      text-decoration: none;

      &:focus {
        font-weight: 500;
      }
    }
  }

  .nav-right {
    display: flex;
    align-items: center;
  }
}


#navSlide {
  position: fixed;
  top: 0;
  right: -100%;
  height: 100vh;
  width: 100vw;
  display: flex;
  z-index: 11;

  .navigation {
      width: clamp(50%, 300px, 30%);
      height: 100vh;
      background-color: var(--black);
      flex-direction: column;
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 10px;
      box-sizing: border-box;

      .stopCTA {
          display: flex;
          justify-content: flex-end;
          cursor: pointer;
      }

      .nav {
          display: flex;
          flex-direction: column;
          gap: 15px;
          height: 30%;
          justify-content: center;
      }

      a {
          font-family: "Montserrat", sans-serif;
          color: var(--grey);
          cursor: pointer;
          font-size: 15px;
          line-height: 20px;
          text-decoration: none;

          &:hover {
              color: var(--textwhite);
          }
      }

      .socialMedia {
          height: 60%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          font-family: "Montserrat", sans-serif;
          color: "white";
          font-size: 15px;
          gap: 10px;

          .icons {
              display: flex;
              gap: 5px;
              align-items: center;
          }
      }
  }

  .backdrop {
      width: calc(100% - clamp(30%, 300px, 50%));
      background-color: #1f2420bb;
      opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  nav {
    #navbar {
      padding: 10px 20px;
      backdrop-filter: blur(25px);
      border-radius: 30px;
      border: 1px solid var(--textwhite);
      width: 90vw;
      box-sizing: border-box;
    }
  }

  .backgroundNav {
    #navbar {
      border: 1px solid var(--black);
      transition: 0.5s;
    }
  }
}


@keyframes upToDown {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}



