#tourPackage {
    margin: 200px auto 200px auto;
    display: flex;
    flex-direction: column;
    gap: 50px;

    .header {
        display: flex;
        justify-content: space-between;

        .left {
            display: flex;
            gap: 10px;
            flex-direction: column;
        }

        .right {
            width: 35%;
            display: flex;
            align-items: flex-end;
        }
    }

    .cta {
        display: flex;
        justify-content: center;  
        margin-top: 30px;
    }
}

@media screen and (max-width: 1000px) {
    #tourPackage {
        margin: 370px auto 200px auto;
           
        
            .header {
                flex-direction: column;
                align-items: center;
                gap: 20px;
        
                .left {
                    .subHeader {
                        text-align: center;
                    }
                }
        
                .right {
                    width: 70%;

                    p {
                       text-align: center;
                    }
                }
            }
    }
}