#tourCards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;

    .wrapper {
        border-radius: 15px;
        background-size: cover;
        filter: drop-shadow(0px 0px 15px rgba(0, 0, 0, 0.4));

        .card {
            height: 50vh;
            border-radius: 15px;
            background-color: rgb(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            box-sizing: border-box;
            padding: 10px;
            justify-content: space-between;

            .top {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .days {
                    color: var(--textwhite);
                    backdrop-filter: blur(100px);
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    padding: 5px 10px;
                    border-radius: 25px;
                    font-family: var(--poppins);
                    font-size: 13px;
                    font-weight: 500;
                }

                .rating {
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    backdrop-filter: blur(100px);
                    border: 1px solid rgba(255, 255, 255, 0.2);
                    padding: 5px 10px;
                    border-radius: 25px;

                    span {
                        font-family: var(--poppins);
                        font-size: 13px;
                        color: var(--textwhite);
                        font-weight: 500;
                    }

                }
            }

            .bottom {
                display: flex;
                justify-content: space-between;
                backdrop-filter: blur(9px);
                padding: 15px;
                border-radius: 15px;
                border: 1px solid rgba(255, 255, 255, 0.2);

                .left {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;

                    .fromTo {
                        font-family: var(--poppins);
                        color: var(--textwhite);
                        font-weight: 300;
                        font-size: 13px;
                    }

                    .name {
                        font-family: var(--montserrat);
                        color: var(--textwhite);
                        font-weight: 600;
                        font-size: 20px;

                    }
                }

                .right {
                    display: flex;
                    align-items: end;

                    .price {
                        font-family: var(--montserrat);
                        color: var(--textwhite);
                        font-weight: 600;
                        font-size: 20px;
                    }
                }
            }
        }
    }
}